/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body{
    background-repeat: repeat;
    background-size: cover;
    background-image: url('https://www.tastingtable.com/img/gallery/new-data-reveals-unexpected-truth-about-online-grocery-shopping/intro-1656506015.jpg');
  }
  
